<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FirebirdSql.Data.FirebirdClient" version="8.0.1" targetFramework="net472" />
  <package id="lcpi.data.oledb" version="1.22.0.4366" targetFramework="net472" />
  <package id="lcpi.lib" version="2.11.0.1817" targetFramework="net472" />
  <package id="linq2db" version="3.4.2" targetFramework="net472" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="5.0.0" targetFramework="net472" />
  <package id="System.Reflection.Emit" version="4.7.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net472" />
</packages>